<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <form action="/movie/id{{ movie.id }}" method="GET">
      <h2 class="Update">Here's more information about this movie:</h2>
      <ul>
        <li>Id: {{ movie.id }}</li>
        <li>Movie Title: {{ movie.title }}</li>
        <li>Author: {{ movie.director }}</li>
        <li>Gender: {{ movie.gender }}</li>
        <li>Year: {{ movie.year }}</li>
        <li>Description: {{ movie.description }}</li>
        <li>Rotten Tomatoes: {{ movie.rotten }}</li>
        <li>Price per Week: {{ movie.price }}</li>
      </ul>
      <a href="/" class="GoBack"> Go Back </a>
    </form>
    <footer>Sandra López, CCT College Dublin</footer>
  </body>
</html>
