<!DOCTYPE html>
<html>
  <body>
    <h1>Hi, welcome to our dvd store!!!!</h1>
    <h2>Books:</h2>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
      {% for book in data %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.price }}</td>
        <td><a href="/delete_book/{{ book.id }}">Delete</a></td>
        <td><a href="/update_book/{{ book.id }}">Update</a></td>
      </tr>
      {% endfor %}
    </table>

    <form action="/add_book" method="POST">
      <h2>New Book:</h2>
      <ul>
        <li>Id <input type="int" name="id" /></li>
        <li>Title <input type="text" name="title" /></li>
        <li>Author <input type="text" name="author" /></li>
        <li>Price <input type="text" name="price" /></li>
      </ul>

      <button type="submit">Add</button>
    </form>
  </body>
</html>
