<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <h1>Welcome to Cov@net</h1>
    <h2>Your favorite DVD rental store!</h2>
    <h3>Our DVDs:</h3>
    <table>
      <tr>
        <th>Movie Title</th>
        <th>Director</th>
        <th>Genre</th>
        <th>Year of Release</th>
        <th>Price per Week</th>
      </tr>
      {% for movie in data %}
      <tr>
        <td>{{ movie.title }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.gender }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.price }}</td>
        <td>
          <a href="/delete_movie/{{ movie.id }}">Delete</a>
        </td>
        <td><a href="/update_movie/{{ movie.id }}">Update</a></td>
        <td><a href="/movie/{{ movie.id }}">Get More Info</a></td>
      </tr>
      {% endfor %}
    </table>

    <form action="/add_movie" method="POST">
      <h4>New DVD:</h4>
      <ul>
        <li>Id <input type="int" name="id" /></li>
        <li>Movie Title <input type="text" name="title" /></li>
        <li>Director <input type="text" name="director" /></li>
        <li>Gender <input type="text" name="gender" /></li>
        <li>Year <input type="text" name="year" /></li>
        <li>Price <input type="text" name="price" /></li>
      </ul>

      <button type="submit">Add</button>
    </form>
    <footer>Sandra López, CCT College Dublin</footer>
  </body>
</html>
