<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="requests">
    <form action="/update_movie/{{ movie.id }}" method="POST">
      <h2 class="Update">Update Movie:</h2>
      <ul>
        <li>Id <input type="int" name="id" value="{{ movie.id }}" /></li>
        <li>
          Title <input type="text" name="title" value="{{ movie.title }}" />
        </li>
        <li>
          Director
          <input type="text" name="director" value="{{ movie.director }}" />
        </li>
        <li>
          Gender
          <input type="text" name="gender" value="{{ movie.gender }}" />
        </li>
        <li>
          Year
          <input type="text" name="year" value="{{ movie.year }}" />
        </li>
        <li>
          Price <input type="text" name="price" value="{{ movie.price }}" />
        </li>
      </ul>
      <button type="submit">Update</button>
    </form>
    <footer>Sandra López, CCT College Dublin</footer>
  </body>
</html>
